stages:
  - test

tests:python:
  stage: test
  image: python:3
  services:
    - postgres:9
  variables:
    POSTGRES_DB: zoudb
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: mysecretpassword
    DB_HOST: postgres
  script:
    # Update
    - echo "deb http://www.deb-multimedia.org jessie main non-free" | tee -a /etc/apt/sources.list
    - apt update
    - apt install -y python-dev libpq-dev
    - apt install -y --force-yes ffmpeg

    # Install requirements
    - pip install -r requirements.txt

    # Run Tests
    - PYTHONPATH=. py.test
  tags:
    - test

deploy:python:
  stage: deploy
  image: python:3
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - '[[ -f /.dockerenv ]] && echo "$SSH_SERVER_HOSTKEYS" > ~/.ssh/known_hosts'
  script:
    - git clone http://integration.bot:looklook@gitlab.unit.local/unit-image/ansible-playbooks.git
    - pip install ansible
    - cd ansible-playbooks
    - ansible-playbook -i hosts zou-update-staging.yml
  tags:
    - test
  only:
    - staging

